* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif TC', serif;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}

.presentation {
    background-color: darkcyan;
}

.main {
    background-color: ghostwhite;
}

.text {
    border-top: 3px solid black;
}

a {
    text-decoration: none;
    color: black;
}

.card-text {
    width: 55%;
}

li {
    font-size: 1rem;
}

.experience,
.education {
    border-top: 3px solid darkcyan;
}